body {
	font-size: 30px;
	font-family: Helvetica;
	color: #FFF600;
	background-image: url("../images/stars.jpg");
	text-align: center;
}

h1 {
	margin: 0px;
}

img {
	max-width: 50%;
}

ul {
	font-size: 20px;

	text-align: left;
	margin-left: 25%;
	width: 50%;
}

.sublist {
	list-style-type: square;
}